
<!DOCTYPE html>
<html lang="en-US">

{% block head %}
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{% block title %}{% endblock %}</title>

       {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'css/components.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
      <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
      <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">
      <!-- CUSTOM STYLE -->  
      <link rel="stylesheet" href="{% static 'css/template-style.css' %}">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>    
      <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/responsee.js' %}"></script>   
      <!--[if lt IE 9]>
	      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <![endif]-->
   </head>
   {% endblock %}

    <body class="size-1140">

     {% block nav %}
      <!-- TOP NAV WITH LOGO -->
       <header>
         <nav>
            <div class="line">
               <div class="top-nav">              
                  <div class="logo hide-l">
                     <a href="{% url 'Blog:home'%}">Megaga <br /><strong>Lucy</strong></a>
                  </div>                  
                  <p class="nav-text">HerVoiceMatters</p>
                  <div class="top-nav s-12 l-5">
                     <ul class="right top-ul chevron">
                        <li><a href="{% url 'Blog:home' %}">Home</a>
                        </li>
                        <li>
                           <a>Programs</a>			    
                           <ul>
                              <li><a> Counselling</a>
                              </li>
                              <li><a> Mentorship</a>
                              </li>
                              <li>
                                  <a>Talenting our skills</a>  				  
                                 <ul>
                                    <li><a>public writing </a>
                                    </li>
                                    <li><a>Poetry</a>
                                    </li>
                                    <li><a>Knitting</a>
                                    </li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                         <li>
                              <a href="{% url 'Blog:posts' %}">Blog</a>  				  
                                 <ul>
                                    <li><a href="{% url 'Blog:posts' %}?category=women_talk">Girl Talk</a>
                                    </li>
                                    <li><a href="{% url 'Blog:posts' %}?category=fashion">Fashion</a>
                                    </li>
                                    <li><a href="{% url 'Blog:posts' %}?category=food">Food</a>
                                    </li>
                                 </ul>
                        </li>
                     </ul>
                  </div>
                  <ul class="s-12 l-2">
                     <li class="logo hide-s hide-m">
                        <a href="{% url 'Blog:home' %}">Megaga <br /><strong>Lucy</strong></a>
                     </li>
                  </ul>
                  <div class="top-nav s-12 l-5">
                     <ul class="top-ul chevron">
                        <li><a href="{% url 'Blog:events' %}">Events</a></li>
                        <li><a href="{% url 'Blog:gallery' %}">Gallery</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                     </ul> 
                  </div>
               </div>
            </div>
         </nav>
      </header>
       {% endblock %} <!-- END TOP NAV  -->

         {% block section %}<!-- start of body section  -->
          
               <section>
         <!-- CAROUSEL -->  	
         <div id="carousel">
            <div id="owl-demo" class="owl-carousel owl-theme">
               <div class="item">
                  <img src="{% static "img/first.jpg" %}" alt="hvm">      
                  <div class="carousel-text">
                     <div class="line">
                        <div class="s-12 l-9">
                           <h2>Her Voice Matter Initiative</h2>
                        </div>
                        <div class="s-12 l-9">
                           <p>Promoting women one article at a time
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <img src="{% static "img/second.jpg" %}" alt="">      
                  <div class="carousel-text">
                     <div class="line">
                        <div class="s-12 l-9">
                           <h2>Her Voice Matter Initiative</h2>
                        </div>
                        <div class="s-12 l-9">
                           <p>Little Girls with dreams become women with vision
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <img src="{% static "img/third.jpg" %}" alt="">      
                  <div class="carousel-text">
                     <div class="line">
                        <div class="s-12 l-9">
                           <h2>Her Voice Matter Initiative</h2>
                        </div>
                        <div class="s-12 l-9">
                           <p>The symbol of Feminism and superheroism of women
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- FIRST BLOCK --> 	
         <div id="first-block">
            <div class="line">
               <h2>What we All About</h2>
               <p class="subtitile">Women Empowerment on a daily basis through fashion, food ,skills developments among other programs
               </p>
               <div class="margin">
                  <a href="#" class="s-12 m-6 l-3 margin-bottom">
                     <i class="icon-paperplane_ico icon2x"></i>
                     <h3>Blog</h3>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                     </p>
                  </a>

                  <a href="#" class="s-12 m-6 l-3 margin-bottom">
                     <i class="icon-star icon2x"></i>
                     <h3>Events</h3>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                     </p>
                  </a>

                  <a href="#" class="s-12 m-6 l-3 margin-bottom">
                     <i class="icon-message icon2x"></i>
                     <h3>Programs</h3>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                     </p>
                  </a>

                  <a href="#" class="s-12 m-6 l-3 margin-bottom">
                     <i class="icon-mail icon2x"></i>
                     <h3>Contact</h3>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                     </p>
                  </a>

               </div>
            </div>
         </div>
         <!-- SECOND BLOCK --> 	
         <div id="second-block">
            <div class="line">
               <div class="margin-bottom">
                  <div class="margin">
                     <article class="s-12 l-8 center">
                        <h1>HerVoiceMatters</h1>
                        <p class="margin-bottom">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                        <a class="button s-12 l-4 center" href="#">Read more</a>  			
                     </article>
                  </div>
               </div>
            </div>
         </div>
         <!-- GALLERY --> 	
         <div id="third-block">
            <div class="line">
               <h2>Events and programs gallery</h2>
               <p class="subtitile">Seeing is believing
               </p>
               <div class="margin">
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/first-small.jpg' %}" alt="alternative text">      
                     <p class="subtitile">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                     </p>
                  </div>
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/second-small.jpg' %}" alt="alternative text">      
                     <p class="subtitile">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                     </p>
                  </div>
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/third-small.jpg' %}" alt="alternative text">      
                     <p class="subtitile">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                     </p>
                  </div>
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/fourth-small.jpg' %}" alt="alternative text">      
                     <p class="subtitile">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                     </p>
                  </div>
               </div>
            </div>
         </div>

         <div id="fourth-block"><h2>events</h2>
            <div class="line">
               <div id="owl-demo2" class="owl-carousel owl-theme">
               {% for event in events %}
                  <a href="#" class="item">
                     <h3>{{event.title}} </h3>
                     <p class="s-12 m-12 l-8 center">{{ event.description |slice:":150"}}
                     </p>
                     </a>
               {% endfor %}
                  
               </div>
            </div>
         </div> <!-- END  fourth block  -->
      </section>
        {% endblock %} <!-- END  section  -->

              <!-- FOOTER --> 
             {% block footer %}  
      <footer>
         <div class="line">
            <div class="s-12 l-6">
               <p>Copyright 2015, Vision Design - graphic zoo eeddd
               </p>
            </div>
            <div class="s-12 l-6">
               <p class="right">
                  <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a>
               </p>
            </div>
         </div>
      </footer>
      {% endblock %} <!-- END  footer  -->
      <script type="text/javascript" src="{% static 'owl-carousel/owl.carousel.js' %}"></script>   
      <script type="text/javascript">
         jQuery(document).ready(function($) {  
           $("#owl-demo").owlCarousel({
         	slideSpeed : 300,
         	autoPlay : true,
         	navigation : false,
         	pagination : false,
         	singleItem:true
           });
           $("#owl-demo2").owlCarousel({
         	slideSpeed : 300,
         	autoPlay : true,
         	navigation : false,
         	pagination : true,
         	singleItem:true
           });
         });	
          
      </script> 
<script id="dsq-count-scr" src="//hervoicematters.disqus.com/count.js" async></script>
    
   </body>
</html>


