{% extends 'about.html' %}
{% block title %} Blog News {% endblock %}
{% block section %}

  <!-- MAIN SECTION -->                  
      <section id="home-section" class="line">
         <div class="margin">


            <!-- ARTICLES -->             
            <div class="s-12 l-9" style="margin-top: 23px;">
                  <!-- text -->         

                  {% if request.path == '/posts/fashion/'%}

                  <!-- text -->                 
                  <div class="post-text aside-block margin-bottom">
                     <h1>Fashion</h1>
                     <p style="color:#0b192f;font-size: 0.95em;">
                        Through fashion we celebrate the phenomenalism of women and teach people to respect them the way they are.
                        The way you dress portrays how you will be respected.The moment people see you;that sets the tone of how they will look at you and judge you.
                     </p>
                     <p>Fashion is fun.Fashion is classic.</p>
                     <p>Feel inspired to try out new stuff that we will be sharing with you.Thank you for stopping by</p>
                     <br>
                     
                    
                  </div>
                     {% endif %}

                      {% if request.path == '/posts/delicacies/'%}

                  <!-- text -->                 
                  <div class="post-text aside-block margin-bottom">
                     <h1>Delicacies</h1>
                     <p style="color:#0b192f;font-size: 0.95em;">
                         Spicy. Luscious. Red hot. Toothsome. Scrumptious. Yummy. Deluxe. Its all chef-d'oeuvre. Every plate. Every serving. Every additive is worth your time, worth your buds, worth a mouthful. Thank you for joining us at our kitchen wallah! Where we all agree that its a home for all women. We appreciate your feedback(Including suggestions on those secret recipes you have hidden but dying to try hem out), Also provide us with those extra tips you think might come in handy.Thank you.
                     </p>
                     <br>
                     
                    
                  </div>
                     {% endif %}

                      {% if request.path == '/posts/women/'%}

                  <!-- text -->                 
                  <div class="post-text aside-block margin-bottom">
                     <h1> Girl Talk </h1>
                     <p style="color:#0b192f;font-size: 0.95em;">
                         On this segment, we will feature every minute, every second we will spend with our girls who are the future, to inspire them to be what they ever desire. Through our girls, we will nature, provide social support, instill self esteem and provide a platform to discuss about their daily struggles such as drugs, FGM, sexual violence, gender based violence, unplanned pregnancies, prostitution, negative media exposure and lack of education to girls. Welcome and journey with us.
                     </p>
                     <br>
                     
                    
                  </div>
                     {% endif %}
         
           <div class="pagination">
               <span class="step-links">
               {% if page_obj.has_previous %}
                   <a class="continue-reading" style="background: #B71757;" href="?page={{ page_obj.previous_page_number }}">previous</a>
               {% endif %}

                <span class="current">
                   Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                   {% if page_obj.has_next %}
                       <a class="continue-reading" style="background: #0D7E71;" href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
              </span>
           </div>

               {% for post in posts %}
                 {% if post.image_field %}

                 <!-- ARTICLE with images -->           
               <article class="{% cycle 'post-1' 'post-2' 'post-3' 'post-4' 'post-5' %} {% cycle 'right-align'  '  ' %} line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image">                   
                     <a href="{{ post.get_absolute_url }}">
                     <img src="{{ post.image_field.url }}" alt="{{ post.title }}">
                     </a>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text">
                     <a href="{{ post.get_absolute_url }} ">
                        <h2>{{ post.title }}</h2>
                     </a>
                     <p>{{ post.content|slice:":60" }}                 
                  </div>
                  <!-- date -->                 
                  <div class="s-12 l-1 post-date">
                     <p class="date">{{ post.created_date|date:"d" }}             
                     </p>
                     <p class="month">{{ post.created_date|date:"b" }}
                     </p>
                  </div>
               </article>
                 {% else %}

               <!-- ARTICLE  with no Images-->              
               <article class="{% cycle 'post-1' 'post-2' 'post-3' 'post-4' 'post-5' %} line">
                  <!-- text -->                 
                  <div class="s-12 l-11 post-text">
                     <a href="{% url 'Blog:post_detail' post.id %}">
                        <h2>{{ post.title }}</h2>
                     </a>
                     <p>{{ post.content|slice:":150" }}</p>
                  </div>
                  <!-- date -->                 
                  <div class="s-12 l-1 post-date">
                     <p class="date">{{ post.created_date|date:"d" }}             
                     </p>
                     <p class="month">{{ post.created_date|date:"b" }}             
                     </p>
                  </div>
               </article>
                {% endif %}
                <hr/>
              {% endfor %}
            

            <div class="pagination">
               <span class="step-links">
               {% if page_obj.has_previous %}
                   <a class="continue-reading" style="background: #0D7E71;" href="?page={{ page_obj.previous_page_number }}">previous</a>
               {% endif %}

                <span class="current">
                   Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                   {% if page_obj.has_next %}
                       <a class="continue-reading" style="background: #B71757;" href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
              </span>
           </div>
           </div><!-- end section -->

            <!-- SIDEBAR -->             
            <div class="s-12 l-3"  style="margin-top: 23px;">
               <aside>
                  <!-- Events 1 -->   
                  {% for event in events %}          
                  <div class="aside-block margin-bottom">
                     <h3>{{ event.title }}</h3>
                     <p>{{ event.description| slice:":100"}}</p>
                     <a class="continue-reading" href="{% url 'Blog:event_detail' event.id %}">View Event </a>
                  </div>
                  {% endfor %}
                  <!-- AD REGION -->         
                  
               </aside>
            </div>


         </div>
      </section>

{% endblock %}