{% extends 'about.html' %}

{% block section %}

      <!-- MAIN SECTION -->                  
      <section id="article-section" class="line archive">
         <div class="margin">
            <!-- ARTICLES -->             
            <div class="s-12 l-9">
            {% if post.image_field %}
            
               <!-- Post with image -->               
               <article class="margin-bottom">
                  <div class="post-1 line">
                     <!-- image -->                 
                     <div class="s-12 l-11 post-image">                   
                        <a href="post-1.html"><img src="{{ post.image_field.url }}" alt="{{ post.title }}"></a>              
                     </div>
                     <!-- date -->                 
                     <div class="s-12 l-1 post-date">
                        <p class="date">{{ post.created_date|date:"d" }}</p>
                        <p class="month">{{ post.created_date|date:"b" }}</p>
                     </div>
                  </div>
                  <!-- text -->                 
                  <div class="post-text">
                     <a href="post-1.html">
                        <h2>{{ post.title }}</h2>
                     </a>
                     <p>
                        {{ post.content}}
                     </p>
                  </div>
               </article>

               {% else %}
               
               <!-- If post has no image -->               
               <article class="margin-bottom">
                  <div class="post-5 line">
                     <!-- date -->                 
                     <div class="s-12 post-date">
                        <p class="date">{{ post.created_date|date:"d" }}</p>
                        <p class="month">{{ post.created_date|date:"b" }}</p>
                     </div>
                  </div>
                  <!-- text -->                 
                  <div class="post-text">
                     <a href="post-5.html">
                        <h2>{{ post.title}}</h2>
                     </a>
                     <p>
                        {{ post.content}}
                     </p>
                     <a class="continue-reading" href="post-5.html">Continue reading</a>
                  </div>
               </article>

               {% endif %}

               <!-- AD REGION -->
               <div class="line">
                  <div class="advertising horizontal">
                     <img src="img/banner-horizontal.jpg" alt="ad banner">          
                  </div>
               </div>
            </div>


              <!-- SIDEBAR -->             
            <div class="s-12 l-3">
               <aside>
                  
                    <!-- LATEST POSTS -->
                  <div class="aside-block margin-bottom">
                     <a href="{% url 'Blog:posts' %}"><h3>Latest posts</h3></a>
                  {% for post in posts %}
                     <a class="latest-posts" href="{% url 'Blog:post_detail' post.id %}">
                        <h5>{{ post.title }}</h5>
                        <p>
                            {{ post.content |slice:":50" }}
                        </p>
                     </a>
                     {% endfor %}
                  </div>
               </aside>
            </div>
         </div>
      </section>

{% endblock %}