Django==1.9.2
django-allauth==0.25.2
django-disqus==0.5
django-navigation==0.8.1
django-registration==2.0.4
easy-thumbnails==2.3
npm==0.1.1
oauthlib==1.0.3
optional-django==0.1.0
pathtools==0.1.2
Pillow==3.1.1
Pygments==2.1.3
python-social-auth==0.2.14
python3-openid==3.0.9
pytz==2015.7
PyYAML==5.4
requests==2.9.1
requests-oauthlib==0.6.1
urllib3==1.24.2
virtualenv==14.0.6
virtualenv-clone==0.2.6

